{% extends 'layout.html' %}

{% block title %}
    Acheter des billets - Jeux Olympiques 2024
{% endblock %}

{% block content %}
<div class="container">
    <h1>Acheter des billets</h1>
    <form method="post" action="/add-to-cart">
        <h2>Événements disponibles :</h2>
        
        <label for="event1_tickets">Athlétisme - Finale du 100 mètres hommes :</label>
        <input type="number" id="event1_tickets" name="event1_tickets" min="0">
        
        <label for="event2_tickets">Athlétisme - Finale du 100 mètres femmes :</label>
        <input type="number" id="event2_tickets" name="event2_tickets" min="0">
        
        <!-- Ajoutez d'autres champs pour chaque événement -->
        
        <button type="submit">Ajouter au panier</button>
    </form>
</div>
{% endblock %}
