{% extends 'layout.html' %}

{% block title %}
    Épreuves - Jeux Olympiques 2024
{% endblock %}

{% block content %}
<section class="event-list">
    <div class="container">
        <h2>Épreuves Sportives</h2>
        <div class="row">
            {% for discipline in disciplines %}
            <div class="col-lg-4 col-md-6">
                <div class="event-card">
                    <img src="{{ url_for('static', filename='{{ discipline.logo }}') }}" alt="{{ discipline.name }}">
                    <div class="event-details">
                        <h3>{{ discipline.name }}</h3>
                        <p>{{ discipline.description }}</p>
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
