{% extends 'layout.html' %}

{% block title %}
    Infos Pratiques - Jeux Olympiques 2024
{% endblock %}

{% block content %}
<section class="practical-info">
    <div class="container">
        <h2 class="text-center mb-5">Informations Pratiques</h2>
        
        <!-- Section "Accès et Transport" -->
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Accès et Transport</h3>
                        <p class="card-text">Découvrez les différents moyens d'accès aux sites olympiques et les options de transport disponibles pour vous déplacer facilement pendant les Jeux Olympiques 2024.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section "Hébergement" -->
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Hébergement</h3>
                        <p class="card-text">Explorez nos recommandations d'hébergement pour trouver le meilleur endroit où séjourner pendant les Jeux Olympiques. Des hôtels de luxe aux auberges de jeunesse, il y en a pour tous les goûts et tous les budgets.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section "Restauration" -->
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Restauration</h3>
                        <p class="card-text">Découvrez une variété de restaurants et de stands de restauration rapide proposant une cuisine locale et internationale pour satisfaire toutes vos envies culinaires pendant les Jeux Olympiques.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ajoutez d'autres sections ici -->

    </div>
</section>
{% endblock %}
