{% extends 'layout.html' %}

{% block title %}
    Plan du site - Jeux Olympiques 2024
{% endblock %}

{% block content %}
<section class="site-map">
    <h2>Plan du Site</h2>
    <img src="{{ url_for('static', filename='plan.jpeg') }}" alt="Plan du site">

    <p>Explorez notre plan interactif pour découvrir tous les sites olympiques et leurs installations.</p>
    <p>Le plan du site vous permettra de naviguer facilement entre les différents lieux des Jeux Olympiques 2024.</p>
    <p>Que vous soyez un spectateur, un athlète ou un membre du personnel, utilisez notre plan pour vous repérer et profiter pleinement de l'événement.</p>
</section>
{% endblock %}

